@import './../../../variables.scss';
@import './../../../mixins.scss';

section {
    height: 100dvh;
    background-image: url('./../../../assets/img/1_hero/JPG/hero_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include dFlex();
    flex-direction: column;
}

h1 {
    color: $white;
    font-weight: bold;
    font-size: 96px;
    font-family: $raleway;
}

h2 {
    color: $white;
    font-size: 24px;
    font-weight: normal;
    font-family: $raleway;
}