<section>
    <h2 class="font-raleway">OUR MENU</h2>
    <div>
        <img src="assets/img/3_section_our_menu/Png/R1.png" alt="Tonkotsu Ramen Image">
        <div class="menu-dishes">
            <h3 class="font-economica">Tonkotsu Ramen</h3>
            <div class="price-container font-raleway">
                <div class="span-container">
                    <span>CHICKEN</span>
                    <span>11.95€</span>
                </div>
                <div class="span-container">
                    <span>BEEF</span>
                    <span>12.95€</span>
                </div>
                <div class="span-container">
                    <span>SHRIMP</span>
                    <span>13.95€</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mt flex-reverse">
        <img src="assets/img/3_section_our_menu/Png/R2.png" alt="Spicy Miso Ramen Image">
        <div class="menu-dishes">
            <h3 class="font-economica">Spicy Miso Ramen</h3>
            <div class="price-container font-raleway">
                <div class="span-container">
                    <span>CHICKEN</span>
                    <span>11.95€</span>
                </div>
                <div class="span-container">
                    <span>BEEF</span>
                    <span>12.95€</span>
                </div>
                <div class="span-container">
                    <span>SHRIMP</span>
                    <span>13.95€</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mt">
        <img src="assets/img/3_section_our_menu/Png/R3.png" alt="Shio Ramen Image">
        <div class="menu-dishes">
            <h3 class="font-economica">Shio Ramen</h3>
            <div class="price-container font-raleway">
                <div class="span-container">
                    <span>CHICKEN</span>
                    <span>11.95€</span>
                </div>
                <div class="span-container">
                    <span>BEEF</span>
                    <span>12.95€</span>
                </div>
                <div class="span-container">
                    <span>SHRIMP</span>
                    <span>13.95€</span>
                </div>
            </div>
        </div>
    </div>
</section>
