@import './../../../variables.scss';
@import './../../../mixins.scss';

section {
    background-image: url(./../../../assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 120px;
    padding-inline: 160px;
    >h2 {
        font-size: 80px;
        font-weight: bold;
        text-align: center;
        color: $darkred;
        margin-bottom: 64px;
        font-family: $raleway;
    }
    >div {
        @include dFlex($jc: flex-start, $g: 80px);
    }
}

img {
    width: 352px;
    height: 352px;
}

h3 {
    font-weight: bold;
    font-size: 56px;
    font-family: $economica;
}

.menu-dishes {
    @include dFlex($jc: flex-start, $g: 16px, $ai: flex-start);
    flex-direction: column;
}

.price-container {
    @include dFlex($g: 8px, $ai: normal);
    flex-direction: column;
    font-family: $raleway;
}

.span-container {
    @include dFlex($jc: space-between, $g: 160px);
    >span {
        font-weight: bold;
        font-size: 32px;
        color: $brown-greyish;
    }
}

.mt {
    margin-top: 56px;
}

.flex-reverse {
    flex-direction: row-reverse;
}