@import './../../../../variables.scss';
@import './../../../../mixins.scss';

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-inline: 160px;
    height: 112px;
    @include dFlex($jc: space-between);

    >img {
        width: 64px;
        height: 64px;
    }

    >nav {
        @include dFlex($g: 32px);
        font-family: $raleway;
        >a {
            color: $white;
            font-weight: normal;
            font-size: 24px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.link-btn {
    @include dFlex();
    gap: 8px;
    padding: 10px 10px;
    background-color: $darkred;
    border-radius: 10px;
    border-color: $white;
    border-width: 2px;
    border-style: solid;

    &:hover {
        text-decoration: none;
        background-color: $darkred-secondary;
    }
}